body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

main {
  margin-left: 300px;
  margin-right: 300px;
}

header img {
  width: 200px;
  margin: 35px 300px;
}

h2,
h3 {
  color: white;
}
button {
  background-color: transparent;
  border: 3px solid white;
  color: white;
  width: 260px;
  height: 70px;
  font-weight: 600;
  font-size: 25px;
  border-radius: 0;
  outline: none;
  border-color: #e7e7eb;
  box-shadow: 0 0 20px rgba(85, 134, 240, 0.445);
  display: block;
  margin: auto;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 0 30px rgba(77, 125, 230, 0.445);
  filter: brightness(1.2);
}
.rate {
  margin-top: 300px;
}
.answers {
  text-align: center;
  line-height: 0.5;
}
.correct,
.wrong {
  width: 400px;
  margin: 0 auto;
  height: 300px;
  font-size: 30px;
  padding: 0;
}
.results {
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: 200px;
}
.correct {
  float: left;
  text-align: center;
}
.wrong {
  float: right;
  text-align: center;
}
.doughnutContainer {
  float: none;
  text-align: center;
  display: inline-block;
}
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0;
}
h2 span {
  font-weight: 700;
}
h3 {
  font-weight: 300;
}
p {
  font-weight: 300;
  font-size: 16px;
  padding: 0;
  margin-top: 0;
}
h1 {
  color: white;
  font-size: 5em;
  font-weight: 400;
  line-height: 0.9em;
}

h4 {
  color: #d20094;
  font-weight: 600;
  font-size: 1.8em;
  margin: 0 0;
}

p {
  color: white;
  margin: 0;
}

ul {
  margin-top: 3em;
}

li {
  color: white;
}

label {
  color: white;
}

input[type="checkbox"] {
  border-radius: 0%;
}

form {
  margin-top: 5em;
}

.blueButton {
  background-color: #00ffff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #0b113b;
  font-size: 1.5em;
  border: none;
  padding: 15px 60px;
  box-shadow: 0px -1px 15px 5px rgba(0, 255, 255, 0.55);
  -webkit-box-shadow: 0px -1px 15px 5px rgba(0, 255, 255, 0.55);
  -moz-box-shadow: 0px -1px 15px 5px rgba(0, 255, 255, 0.55);
  cursor: pointer;
  float: inline-end;
}

.blueButton:hover {
  box-shadow: 0px -1px 19px 5px rgba(0, 255, 255, 0.55);
  -webkit-box-shadow: 0px -1px 19px 5px rgba(0, 255, 255, 0.55);
  -moz-box-shadow: 0px -1px 19px 5px rgba(0, 255, 255, 0.55);
}

.checkbox-button {
  cursor: pointer;
}

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input {
  font-size: 1rem;
  line-height: 1.5;
  padding: 11px 23px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 0;
  outline: 0;
  background-color: transparent;
}

.checkbox-button__input {
  opacity: 0;
  position: absolute;
}

.checkbox-button__control {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  vertical-align: middle;
  background-color: inherit;
  color: #00ffff;
  border: 3px solid #ffffff;
}

.checkbox-button__input:checked + .checkbox-button__control:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background-color: #00ffff;
}

.checkbox-button__input:checked + .checkbox-button__control {
  border-color: #00ffff;
}

.checkbox-button__control {
  transform: scale(0.75);
}

h1 + h3 {
  color: whitesmoke;
  font-size: 1.7em;
  font-family: "Poppins";
  margin-bottom: 2em;
  font-weight: normal;
}
div + h3 {
  color: whitesmoke;
  font-size: 1.7em;
  font-family: "Poppins";
  margin-bottom: 2em;
  font-weight: normal;
}
div h3 {
  color: whitesmoke;
  text-align: center;
  font-size: 1.7em;
  font-family: "Poppins";
  margin-top: 0;
  font-weight: normal;
}
#question-counter {
  color: white;
  font-family: "Poppins";
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 50px;
}
.form {
  border-color: #c2128d;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 80%;
  margin-bottom: 40px;
  color: white;
  font-size: large;
}
::placeholder {
  font-size: 19px;
  padding-left: 15px;
}
#question-counter span {
  color: #c2128d;
}

#doughnut {
  width: 40vw;
}
.center {
  text-align: center;
}
.center h1 {
  font-weight: bold;
}
.infoButton button {
  background-color: #00ffff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #0b113b;
  font-size: 1.5em;
  border: none;
  padding: 15px 60px;
  box-shadow: 0px -1px 15px 5px rgba(0, 255, 255, 0.55);
  -webkit-box-shadow: 0px -1px 15px 5px rgba(0, 255, 255, 0.55);
  -moz-box-shadow: 0px -1px 15px 5px rgba(0, 255, 255, 0.55);
  cursor: pointer;
}
.infoButton button:hover {
  box-shadow: 0px -1px 19px 5px rgba(0, 255, 255, 0.55);
  -webkit-box-shadow: 0px -1px 19px 5px rgba(0, 255, 255, 0.55);
  -moz-box-shadow: 0px -1px 19px 5px rgba(0, 255, 255, 0.55);
}

#options-container {
  margin-top: 50px;
}

#question-text {
  text-align: center;
  color: white;
}
.answerButton {
  text-align: center;
}
#confirm-button {
  font-family: "Poppins";
  font-size: 1.5em;
  font-weight: bold;
  width: 35%;
  height: 70px;
  border-radius: 40px;
  color: white;
  background-color: rgb(255 255 255 / 10%);
  padding: 5px 10px;
  margin-top: 30px;
  border: 3px solid;
}

/* classe da aggiungere ai bottoni creati in js */
.buttonRisposte {
  font-family: "Poppins";
  display: inline;
  width: 35%;
  height: 70px;
  cursor: pointer;
  background-color: rgb(255 255 255 / 10%);
  color: white;
  margin: 10px 20px;
  border-image: linear-gradient(to right, white, rgb(255 255 255 / 10%)) 1;
  border-radius: 40px;
  padding: 10px 20px;
  background: linear-gradient(#0f0f2b, #0f0f2b) padding-box,
    linear-gradient(170deg, white, rgb(255 255 255 / 10%)) border-box;
  border: 3px solid transparent;
}

.buttonRisposte:hover {
  cursor: pointer;
  background: #c2128d;
  background: linear-gradient(
    180deg,
    rgba(194, 18, 141, 1) 73%,
    rgba(194, 18, 141, 0.71) 100%
  );
  background-clip: padding-box;
  top: 200px;
}
#timer {
  display: none;
}
#canvasContainer {
  float: inline-end;
  width: 300px;
  height: 00px;
}
